@use "../../common.scss" as *;
@use "layout" as *;

body.shortread_9 {
  background-color: $bg-color;

  .populations {
    margin: 40rem 0;

    &__title {
      @extend %block-title;
      font-size: 40rem;
      margin-bottom: 24rem;

      @include mobile {
        font-size: 30rem;
        margin-bottom: 12rem;
      }
    }

    &__subtitle {
      @extend %block-title;
      font-size: 24rem;
      margin-bottom: 24rem;

      @include mobile {
        margin-bottom: 12rem;
      }
    }

    &__discriptions {
      margin-bottom: 24rem;
    }

    &__banner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 208rem;
      margin: 40rem 0;
      @extend %white-block;

      @include mobile {
        flex-direction: column;
        height: auto;
        margin: 24rem 0;
      }
    }

    &__banner-left {
      padding: 20rem;
      flex: 1;
      max-width: 620rem;
    }

    &__banner-text {
      @extend %block-title;
      font-size: 40rem;

      @include mobile {
        font-size: 24rem;
      }
    }

    &__banner-right {
      max-width: 423rem;
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }

      @include mobile {
        display: none;
      }
    }

    &__light-blue {
      background: linear-gradient(180deg, #abcef6 0%, #63a0e8 100%);
      color: #fff;
      border-radius: 24rem;
      padding: 20rem;
      margin: 40rem 0;
      font-weight: 700;

      @include mobile {
        margin: 24rem 0;
      }
    }

    &__statistics {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 211rem;
      margin: 40rem 0;
      gap: 40rem;

      @include mobile {
        flex-direction: column;
        height: auto;
      }
    }

    &__statistics-left {
      max-width: 224rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 24rem;
      background: linear-gradient(180deg, #abcef6 0%, #63a0e8 100%);

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }

      @include mobile {
        max-width: 100%;
      }
    }

    &__statistics-right {
      padding: 20rem;
      flex: 1;
      @extend %block-title;
      @extend %white-block;
    }

    &__statistics-text {
      font-size: 24rem;
      margin-bottom: 12rem;
    }

    &__statistics-percent {
      font-size: 60rem;
    }

    &__daily-need {
      margin-top: 40rem;
      position: relative;
      color: #fff;
      height: 144rem;

      @include mobile {
        margin-top: 24rem;
        height: auto;
      }
    }

    &__daily-need-content {
      background-color: $dark-blue;
      border-radius: 26rem;
      padding: 20rem 0 20rem 100rem;

      img {
        position: absolute;
        left: -65rem;
        top: 30rem;
        width: 126rem;
        height: 87rem;
        object-fit: contain;
      }

      @include mobile {
        padding: 20rem;
        margin-bottom: 12rem;

        img {
          top: 80rem;
          left: 200rem;
          width: 100rem;
        }
      }
    }

    &__daily-need-text {
      max-width: 450rem;

      @include mobile {
        max-width: 280rem;
      }
    }

    &__daily-need-title {
      font-size: 20rem;
      margin-bottom: 10rem;
    }

    &__daily-need-dosage {
      font-size: 40rem;
      font-weight: 700;
    }

    &__daily-need-note {
      position: absolute;
      right: -1rem;
      top: -1rem;
      @extend %white-block;
      color: #000;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 148rem;
      width: 483rem;
      padding: 20rem;

      @include mobile {
        position: static;
        width: 100%;
        padding: 20rem;
      }
    }
  }

  .criteria {
    margin: 40rem 0;

    @include mobile {
      margin: 24rem 0;
    }

    &__title {
      @extend %block-title;
      font-size: 40rem;
      margin-bottom: 24rem;

      @include mobile {
        font-size: 24rem;
        margin-bottom: 12rem;
      }
    }

    &__description {
      margin-bottom: 40rem;

      @include mobile {
        margin-bottom: 24rem;
      }
    }

    &__subtitle {
      @extend %block-title;
      font-size: 40rem;
      margin-bottom: 40rem;

      @include mobile {
        font-size: 30rem;
        margin-bottom: 24rem;
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 40rem;
      margin-bottom: 40rem;

      @include mobile {
        gap: 24rem;
        margin-bottom: 24rem;
      }
    }

    &__item {
      display: flex;
      padding: 20rem 20rem 20rem 200rem;
      @extend %white-block;
      position: relative;

      @include mobile {
        
        flex-direction: column;
        padding: 20rem 20rem 240rem 20rem;
      }
    }

    &__item-icon {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 154rem;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      @include mobile {
        width: 300rem;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__list {
      .criteria__item:nth-of-type(1) {

        @include mobile {
          padding: 20rem 20rem 160rem 20rem;
        }

        .criteria__item-icon {
          bottom: -25rem;

          @include mobile {
            left: 150rem;
            bottom: -36rem;
          }
        }
      }
    }

    &__banner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 327rem;
      margin: 40rem 0;
      @extend %white-block;
      overflow: hidden;

      @include mobile {
        flex-direction: column;
        height: auto;
        margin: 24rem 0;
      }
    }

    &__banner-left {
      padding: 20rem;
      flex: 1;
    }

    &__banner-text {
      @extend %block-title;
      font-size: 40rem;

      @include mobile {
        font-size: 20rem;
      }
    }

    &__banner-right {
      max-width: 346rem;
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }

      @include mobile {
        position: relative;
        bottom: -10rem;
        max-width: 253rem;
        margin-left: auto;
      }
    }

    &__statistics {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 211rem;
      margin: 40rem 0;
      gap: 40rem;

      @include mobile {
        flex-direction: column;
        height: auto;
      }
    }

    &__statistics-left {
      max-width: 221rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 24rem;
      background: linear-gradient(180deg, #abcef6 0%, #63a0e8 100%);

      @include mobile {
        max-width: 100%;
      }

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
      }
    }

    &__statistics-right {
      padding: 20rem;
      flex: 1;
      @extend %white-block;
    }

    &__statistics-blue-text {
      @extend %block-title;
      font-size: 24rem;
      margin-bottom: 12rem;

      @include mobile {
        font-size: 20rem;
      }
    }
  }
}
