extends layout.pug

prepend body
	- var type = 'shortread_8'

block content

	section.main
		.container

			.pregnancy
				h1.pregnancy__title
					| Роль магния в физиологическом течении беременности.
				p.pregnancy__description
					| Беременность — особенное время для женского организма, благополучие которого тесно связано с гармоничной работой
					| всех систем органов. Для поддержания гомеостаза необходимо множество макро — и микроэлементов, 
					| в том числе и магния. Известно, что 70% беременных и кормящих, синтезируемых гормонов, являются магнийзависимыми
					sup 1
					| .

			.benefits
				.benefits__left-content
					h2.benefits__title
						| Кроме того, Mg2+ выполняет важные действия для организма
						| беременной
						sup 1,2
						| :
					ul.benefits__list
						li.benefits__item
							| принимает непосредственное участие в регуляции тонуса матки и функции кишечника, разрешает проблему спастических запоров;
						li.benefits__item
							| обеспечивает должную дилатацию сосудов в системе «мать — плод»;
						li.benefits__item
							| снижает агрегацию тромбоцитов;
						li.benefits__item
							| улучшает резистентность тканей ребёнка к гипоксии;
						li.benefits__item
							| снижает тревожность;
						li.benefits__item
							| нормализует ночной сон;
						li.benefits__item
							| повышает стрессоустойчивость.
				.benefits__right-content
					img(src="img/shortread_8/Pregnant_woman.png" alt="Беременная женщина")

			.symptoms
				.symptoms__inner
					.symptoms__left-content
						h2.symptoms__title
							| Проявления гипомагниемии разнообразны и неочевидны
							sup 4
							| :
						.symptoms__list
							.symptoms__item
								img(src="img/shortread_8/symptoms_item_img_1.svg" alt="иконка")
								p.symptoms__item-text нарушение сна и повышенная тревожность
							.symptoms__item
								img(src="img/shortread_8/symptoms_item_img_2.svg" alt="иконка")
								p.symptoms__item-text спазм разных групп скелетных мышц вплоть до судорог
							.symptoms__item
								img(src="img/shortread_8/symptoms_item_img_3.svg" alt="иконка")
								p.symptoms__item-text гипертонус матки
							.symptoms__item
								img(src="img/shortread_8/symptoms_item_img_4.svg" alt="иконка")
								p.symptoms__item-text снижение толерантности к стрессу
					.symptoms__right-content
						p.symptoms__right-text
							| По данным крупного исследования MAGIC 2, проведённого в 12 городах России,
						p.symptoms__right-text-big
							| 8 из 10 беременных женщин имеют дефицит магния.
							sup 3
						img(src="img/shortread_8/symptoms_right_img.png" alt="Таблетки магния")
				p.symptoms__text
					| Ввиду низкой специфичности клинических проявлений дефицит магния длительное время может не попадать в фокус насторожённости акушера-гинеколога, стремительно усугубляясь с развитием беременности.
					sup 4
				p.symptoms__text
					b Глубокая нехватка Mg2+ является непосредственной угрозой для матери и плода 
					| из-за высокой вероятности развития преэклампсии, отслойки хориона, плацентарной недостаточности.
					sup 5

			.advice
				.advice__image-container
					img(src="img/shortread_8/advice_img.png" alt="Схема действия магния")
				.advice__blue
					p.advice__white-text 
						| Известно, что в странах с высоким уровнем жизни и адекватной профилактикой гипомагниемии, <b> частота преждевременных родов не выше 13%.</b> Это значимо ниже, чем в условиях дефицита Mg2+
						sup 6
				p.advice__text 
					| Кроме того, коррекция гипомагниемии нормализует эмоциональный фон будущей матери, формируя позитивное отношение к беременности, предстоящим родам и лактации.
					sup 7

			.deficiency
				.deficiency__inner
					.deficiency__left-content
						h2.deficiency__title
							| Главная причина дефицита магния у беременных —
						p.deficiency__bold невозможность удовлетворения возросшей потребности в Mg2+ с помощью продуктов питания.
							sup 1
						p.deficiency__text Доказано, что биодоступность магния не коррелирует с его содержанием. Так, в составе морских водорослей присутствует 1000 мг Mg на 100 г продукта, но усваиваемость микроэлемента из них лишь 5%.
							sup 8
					.deficiency__right-content
						img(src="img/shortread_8/deficiency_right_img.png" alt="Дефицит магния")
				p.deficiency__text Важной частью ведения беременности является фармакологическая профилактика гипомагниемии, а главным критерием выбора препарата становится максимальная безопасность без потери эффективности.

			.organic
				h2.organic__title
					| Лучшей биодоступностью обладают органические соли магния, такие как пидолат, цитрат и лактат
					sup 9
				.organic__content
					img(src="img/shortread_8/organic_img.png" alt="Органический магний")
				p.organic__text-bold <b> Дополнительное влияние на усвоение Mg2+ имеют вещества-синергисты, такие как пиридоксин
					sup 10
					| .</b>
					| Витамин В6 способствует захвату магния клетками, кроме того, имеет самостоятельные позитивные эффекты при беременности, облегчая проявления токсикоза
					sup 11
					| .
				.organic__blue
					p.organic__white-text Сочетание органических солей магния с витамином В6 представлено в разных формах лекарственных препаратов линейки Магне В6®, разрешенным к применению с первого дня беременности
						sup 12
						| .
