extends layout.pug

prepend body
  - var type = 'shortread_9'

block content

  section.main
    .container
    
      .populations
        h1.populations__title
          | Суточная потребность в магнии у беременных
        .populations__subtitle
          | Вопросы безопасной и эффективной коррекции ДМ у беременных
        .populations__discriptions
          | У беременных потребность в магнии возрастает в 2–3 раза, что связано с ростом и развитием плода, увеличением общей массы крови, высоким уровнем эстрогенов, а также увеличением массы матки и появлением и ростом плаценты (матка и плацента относятся к органам с максимальной концентрацией магния).
          sup 1
        .populations__banner
          .populations__banner-left
            p.populations__banner-text
              | Поэтому дефицит магния у беременных встречается чаще, чем в популяции в целом.
              sup 2
          .populations__banner-right
            img(src="img/shortread_9/populations_banner.png" alt="Беременная девушка")
        .populations__discriptions
          | Хорошо известно, что плацента синтезирует более 150 белков и гормонов, а 70% из них являются магнийзависимыми. Это является одной из основных причин повышенной потребности в магнии у беременных женщин.
          sup 3
          | Беременность сопровождается прогрессивным снижением уровня магния как в сыворотке крови, так и в тканях, в связи с высоким потреблением на пластические и энергетические процессы и повышением ренальной экскреции почти на 25%.
          sup 2
        .populations__light-blue
          p.populations__light-blue-text
            | Такой «физиологический» дефицит магния во время беременности в отсутствие адекватной нутриентной дотации может повышать риск ранних и поздних выкидышей, преждевременных родов, преэклампсии, задержки внутриутробного развития плода и т.п.
            sup 2
        
        .populations__stats
          .populations__stats-content
            .populations__stats-left
              img(src="img/shortread_9/populations_banner.png" alt="Беременная женщина")
            .populations__stats-right
              .populations__stats-text
                | А распространённость гипомагниемии среди беременных по данным двух масштабных многоцентровым исследованиям: MAGIC, MAGIC 2 достигает
              .populations__stats-number
                .populations__stats-main 81,2%
                .populations__stats-sub 2,4