extends layout.pug

prepend body
	- var type = 'shortread'

block content

	section.main
		.container

			.block.block1
				.block_title
					| Лабораторные методы диагностики дефицита магния, скрининговые методы (MDQ-62, MDQ-23, MDQ-10), вопросы референсных значений и репрезентативности диагностических методов
				.line2
					| Дефицит магния не является редкостью среди населения в целом
					sup
						| 1
				.line3
					.title
						| Более того, уровень магния в сыворотке крови не всегда может отражать действительный уровень магния в организме
						sup
							| 2
						| .
					.text
						| Это является следствием того, что магний в составе системы кровообращения не представляет собой общее количество магния в организме и составляет всего 1% или менее от его общего содержания
						sup
							| 3
						| . На изменения в сывороточной концентрации могут влиять потребление магния с пищей и уровень альбумина; могут демонстрировать свою роль и краткосрочные изменения, например, ежедневная и ежечасная изменчивость количества магния, всасываемого и выводимого через почки
						sup
							| 4
						| .

			.block.block2
				.block_title
					| Лабораторная диагностика дефицита магния (ДМ)
				.line2
					.left
						| Нормальная концентрация
						|
						br
						|
						| магния в плазме крови
						sup
							| 5
						.mmoll
							span
								| &gt; 0,80
							|
							| ммоль/л
					.right
						.title
							| Международный консенсусный уровень магния в сыворотке крови
							|
							br.desktop
							|
							| для определения гипомагниемии составляет 0,85 ммоль/л
							sup
								| 6
						.list
							.item
								.title
									| Легкий ДМ
								.num
									| 0,7-0,8
								.mmoll
									| ммоль/л
							.item
								.title
									| Умеренный ДМ
								.num
									| 0,5-0,7
								.mmoll
									| ммоль/л
							.item
								.title
									| Тяжелый ДМ
								.num
									| ниже 0,5
								.mmoll
									| ммоль/л
				.line3
					.text
						| Отождествление уровней магния в плазме с уровнями магния в сыворотке является грубейшей диагностической ошибкой
						sup
							| 7
						| !
					img(src="./img/shortread_1/image2.png")
				.line4
					b
						| Уровни магния, превышающие 2,07 мг/дл (0,85 ммоль/л) принято
						|
						br
						|
						| ассоциировать с системным адекватным уровнем магния
						sup
							| 8
						| .
					.divider
					| Уровни магния в кровяных элементах (эритроцитах и моноцитах) часто
					|
					br.desktop
					|
					| называют более предпочтительными для анализа по сравнению 
					|
					br
					|
					| с уровнями в сыворотке или плазме из-за более высокого содержания
					|
					br
					|
					| магния в них (0,5% против 0,3% соответственно)
					sup
						| 6
					| .
				.line5
					b
						| Концентрация магния в эритроцитах в три раза выше, чем в плазме
						sup
							| 9
					.blue
						| 1,65-2,65 ммоль/л для лиц 18 лет и старше
						sup
							| 9
					img(src="./img/shortread_1/image4.png")
				.line6
					.left
						| Экскреция магния с мочой &lt; 80 мг/день
						sup
							| 9
					.right
						| — может указывать на риск дефицита магния, поскольку в этом состоянии экскреция почками снижается как компенсаторный механизм
						sup
							| 10

			.block.block3
				.block_title
					| Магний – естественный антагонист кальция
				.line2
					b
						| Гипокальциемия
					|
					| - классический симптом гипомагниемии. При этом симптоматическая гипокальциемия возникает уже при снижении концентрации магния в плазме на 0,5 ммоль/л. Пациенты с нормальной концентрацией магния могут иметь гипокальциемию вследствие дефицита внутриклеточного магния
					sup
						| 11,12
					| .
				.line3
					.left
						| &gt; 0,4
					.right
						| Оптимальное соотношение магния и кальция в сыворотке крови
						sup
							| 13

			.block.block4
				.block_title
					| Инструментальные методы диагностики ДМ:
				.line2
					| В настоящее время оценка данных ЭКГ является важным диагностическим инструментом для контроля ДМ. Классическими признаками ДМ по ЭКГ являются расширение интервала QT, увеличение продолжительности QRS, депрессия сегмента ST, экстрасистолия и повышенная ЧСС
					sup
						| 7
					| .
					.divider
					| Так, константа уровня магния в крови может поддерживаться достаточно длительное время за счет выхода иона из депо, и, несмотря на нормальный уровень магния в крови, дефицит его уже может проявляться
					sup
						| 14
					| .
					.divider
					| Поэтому эксперты рекомендуют обращать в первую очередь внимание на клинические проявления ДМ. В этой связи объективизация диагностики, например с использованием опросников, представляет большой практический интерес
					sup
						| 15
					| .

			.block.block5
				.block_title
					| С целью объективизации постановки диагноза дефицита магния существуют опросники: MDQ-62, MDQ-10, MDQ-23
					sup
						| 16
				.line2
					.title
						| MDQ-62 состоит из 62 вопросов, которые можно сгруппировать в 5 общих категорий:
					ul
						li
							| самочувствие,
						li
							| образ жизни,
						li
							| беременность,
						li
							| болезни,
						li
							| принимаемые препараты
							sup
								| 17
					| MDQ-62 помогает выявить неспецифические симптомы, часто сопровождающие дефицит магния, однако анкета является громоздкой и отнимает много времени, а некоторые вопросы очень похожи.

			.block.block6
				.line1
					.block_title
						| C целью уменьшения количества затрачиваемого времени на заполнение опросника
					.text
						| На основе исследования SONOROUS были разработаны два новых коротких опросника MDQ-23 с пороговым значением &lt;0,8 ммоль/л и MDQ-10 с пороговым значением &lt;0,66 ммоль/л.
						br
						br
						| Новые опросники имеют такую же диагностическую эффективность при оценке вероятного дефицита магния, что и исходный MDQ-62, но содержат меньше вопросов и, следовательно, требуют меньше времени для проведения и их являются более применимыми в обычной клинической практике
						sup
							| 16
						| .
				.line2
					| Плюсы данного метода диагностики:
				.line3
					.item
						| БЫСТРАЯ ДИАГНОСТИКА
					.item
						| ВЫСОКАЯ
						|
						br
						|
						| ЧУВСТВИТЕЛЬНОСТЬ
					.item
						| НЕИНВАЗИВНЫЙ МЕТОД
				.line4
					.mobile
						b
							| Скачайте опросник MDQ-23
					a.button(href="")
						| Скачать
					.desktop
						| Нажмите кнопку или воспользуйтесь QR — кодом,
						|
						br
						|
						b
							| чтобы скачать опросник MDQ-23
				.line5
					.block_title
						| Диагностика ДМ
					| Включает анализ клинической картины ДМ и использование дополнительных методов диагностики — прежде всего, лабораторная диагностика уровней магния в крови
					sup
						| 7
					| .
				.line6
					| Необходимо подчеркнуть, что нормальный уровень магния в организме нужен не только для поддержания стрессоустойчивости, но и для предотвращения патологических последствий стресса
					sup
						| 15
					| .
					br
					br
					| Важно отметить, что число диагнозов по МКБ-10, отражающее степень проявления коморбидности, показало достоверную корреляцию с уровнями магния в плазме крови и в эритроцитах. Так, в группе здоровых (пациенты, проходившие диспансеризацию) средние уровни магния в плазме крови составили 0,92 ±0,07 ммоль/л (95% ДИ 0,82–0,96), в эритроцитах —2,45 ± 0,66 ммоль/л (95% ДИ 1,71–3,56). Даже при наличии у пациента только одного диагноза из 142 уровни магния были достоверно снижены (плазма, 0,86 ±0,19 ммоль/л, эритроциты — 1,74 ± 0,57 ммоль/л). При наличии 2 и более диагнозов средние уровни магния в плазме были ниже 0,8 ммоль/л, что наглядно подтверждает взаимосвязь ДМ и повышенного риска коморбидных патологий
					sup
						| 10
					| .

			.block.bottom
				.line1
					| МАГНЕ B6® - №1
					sup
						| 18
					|
					br
					|
					| ПРИ ИЗБЫТКЕ СТРЕССА И НЕХВАТКЕ МАГНИЯ
					sup
						| 19
				.line1.line2
					| УСТРАНЯЕТ ПРИЧИНУ,
					|
					br
					|
					| А НЕ МАСКИРУЕТ СИМПТОМЫ СТРЕССА
					sup
						| 15
				.line3
					.left
						| НА 30 ДНЕЙ
						|
						br
						|
						|  ПРИЕМА
						sup
							| 20,21
					.right
						.title
							| В два раза больше магния и витамина В6 в одной таблетке Магне В6® форте
							sup
								| 20
						| Препарат Магне В6® форте является комбинированным препаратом,
						|
						b
							| содержащим органическую соль магния (цитрат магния) + пиридоксин
							sup
								| 19
							| .
						.divider
						| Магне В6® форте, восполняя дефицит магния, способен комплексно повышать устойчивость организма к стрессу
						sup
							| 15,19
				.line4
					.text
						| У каких пациентов риск дефицита магния выше всего?
						|
						br
						|
						| Узнайте из статьи!
					.title
						| «Восполнение дефицита магния: диета или лекарственные препараты»
					a.button(href="")
						| Читать

			.block.rate
				.inner
					.block_title
						| ОЦЕНИТЕ НАШ КОНТЕНТ
					.list
						.item(data-rate="1")
							img(src="./img/rate-1.png")
						.item(data-rate="2")
							img(src="./img/rate-2.png")
						.item(data-rate="3")
							img(src="./img/rate-3.png")
						.item(data-rate="4")
							img(src="./img/rate-4.png")
						.item(data-rate="5")
							img(src="./img/rate-5.png")

			.block.links
				.container
					.list
						.item
							| Swaminathan R. Magnesium metabolism and its disorders. Clin Biochem Rev. 2003 May;24(2):47-66.
						.item
							| Ismail Y, Ismail AA, Ismail AA. The underestimated problem of using serum magnesium measurements to exclude magnesium deficiency in adults; a health warning is needed for "normal" results. Clin Chem Lab Med. 2010 Mar;48(3):323-7.
						.item
							| Witkowski M, Hubert J, Mazur A. Methods of assessment of magnesium status in humans: a systematic review. Magnes Res. 2011 Dec;24(4):163-80.
						.item
							| Workinger JL, Doyle RP, Bortz J. Challenges in the Diagnosis of Magnesium Status. Nutrients. 2018 Sep 1;10(9):1202.
						.item
							| Громова О.А., Торшин И.Ю., Волков А.Ю., Шербо С.Н. Значение для клинической практики ранней диагностики дефицита магния при определении его в различных биосубстратах. Российский вестник акушера-гинеколога. 2014;5:101- 109.
						.item
							| Rosanoff A, West C, Elin RJ, et al. Recommendation on an updated standardization of serum magnesium reference ranges. Eur J Nutr. 2022;61(7):3697-3706.
						.item
							| Громова О.А., Калачева А.Г., Торшин И.Ю., Грустливая У.Е., Прозорова Н.В., Егорова Е.Ю., Гришина Т.Р., Суханова Т.Ю., Белинская А.Ю. О ДИАГНОСТИКЕ ДЕФИЦИТА МАГНИЯ. ЧАСТЬ 1. Архивъ внутренней медицины. 2014;(2):5-10.
						.item
							| Fiorentini D, Cappadone C, Farruggia G, Prata C. Magnesium: Biochemistry, Nutrition, Detection, and Social Impact of Diseases Linked to Its Deficiency. Nutrients. 2021 Mar 30;13(4):1136
						.item
							| Ismail AAA, Ismail Y, Ismail AA. Chronic magnesium deficiency and human disease; time for reappraisal? QJM. 2018 Nov 1;111(11):759-763. .
						.item
							| Costello, R.; Wallace, T.; Rosanoff, A. Nutrient Information: Magnesium. Adv. Nutr. Int. Rev. J. 2016, 7, 199–201.
						.item
							| Bussière FI, Gueux E, Rock E, Mazur A, Rayssiguier Y. Protective effect of calcium deficiency on the inflammatory response in magnesium-deficient rats. Eur J Nutr. 2002 Oct;41(5):197-202.
						.item
							| Гиляревский С.Р., Голшмид М.В., Захарова Г.Ю., Кузьмина И.М., Синицина И.И. Гипомагниемия и дефицит магния как факторы риска развития осложнений сердечно-сосудистых заболеваний: современное состояние проблемы и подходы к ее решению. Кардиология и сердечно-сосудистая хирургия. 2019;12(5):459‑466.
						.item
							| Razzaque MS. Magnesium: Are We Consuming Enough?. Nutrients. 2018;10(12):1863. Published 2018 Dec 2.
						.item
							| Pickering G, Mazur A, Trousselard M, Bienkowski P, Yaltsewa N, Amessou M, Noah L, Pouteau E. Magnesium Status and Stress: The Vicious Circle Concept Revisited. Nutrients. 2020 Nov 28;12(12):3672.
						.item
							| Тарасов Е.А., Блинов Д.В., Зимовина У.В., Сандакова Е.А. Дефицит магния и стресс: вопросы взаимосвязи, тесты для диагностики и подходы к терапии. Терапевтический архив. 2015;87(9):114‑122
						.item
							| Orlova S, Dikke G, Pickering G, Konchits S, Starostin K, Bevz A. Magnesium Deficiency Questionnaire: A New Non-Invasive Magnesium Deficiency Screening Tool Developed Using Real-World Data from Four Observational Studies. Nutrients. 2020 Jul 11;12(7):2062.
						.item
							| Slagle, P. Magnificent magnesium. In The Way Up Newsletter; The Way Up Ltd.: Rancho Mirage, CA, USA, 2001; Volume 30
						.item
							| Согласно данным базы ООО «АЙКЬЮВИА Солюшнс» «Розничный аудит ГЛС и БАД в РФ», на российском розничном фармацевтическом рынке по итогам 2022 года бренд Магне В6® является лидером по объему продаж в рублях в оптовых ценах среди безрецептурных лекарственных препаратов групп (market definition Stress &amp; Fatigue).
						.item
							| Общая характеристика лекарственного препарата Магне В6 ®, таблетки, покрытые оболочкой, РУ ЛП-№(002046)-(РГ-RU)
						.item
							| Общая характеристика лекарственного препарата Магне В6® форте, таблетки, покрытые пленочной оболочкой, рег. уд. ЛП-№(002077)-(РГ-RU)
						.item
							| Длительность приёма лекарственного препарата в течение 30 дней, при условии приёма трёх таблеток в сутки
