extends layout.pug

prepend body
	- var type = 'shortread'

block content

	section.main
		.container

			.block.block1
				.block_title
					| Восполнение дефицита магния – диета или лекарственные препараты? Магний и полиморбидность
				.line2
					| В организме человека ионы магния принимают участие в важнейших метаболических процессах: выступают кофакторами для ферментных систем, поддерживают энергетический гомеостаз и трансмембранный транспорт ионов калия и кальция, обеспечивают физиологический обмен глюкозы, нормализуют работу мышц и нервной ткани
					sup
						| 1
					| .
				.line3
					| Тем не менее около 10–30% здоровых людей испытывают дефицит магния, при этом больше гипомагниемии подвержены дети, беременные и женщины пожилого возраста
					sup
						| 2
					| .
				.line4
					.title
						| ГЛАВНЫЙ ИСТОЧНИК Mg2+ В ОРГАНИЗМЕ – ПРОДУКТЫ ПИТАНИЯ3
						sup
							| 3
					.text
						| Примерно
						|
						b
							| от 30% до 40%
						|
						| потребляемого с пищей магния хорошо усваивается организмом в условиях здорового функционирования желудочно-кишечного тракта. Увеличение же содержания магния в пище не повышает его биодоступность
						sup
							| 3
						| .
						.divider
						b
							| Например, морские водоросли содержат до 1000 мг Mg на 100 г продукта, но биодоступность макроэлемента из них лишь 5%
							sup
								| 4
							| .
				.line5
					| Обеспечить необходимый суточный уровень магния в 420 мг взрослому человеку только продуктами питания крайне затруднительно
					sup
						| 5
					| .
				.line6
					.title
						| ВЫДЕЛЯЮТ СЛЕДУЮЩИЕ ФАКТОРЫ РИСКА РАЗВИТИЯ ДЕФИЦИТА Mg2+:
					ul
						li
							| заболевания желудочно-кишечного тракта
						li
							| наличие вредных привычек: употребление алкоголя и табакокурение
						li
							| малоподвижный образ жизни
						li
							| эндокринные расстройства
						li
							| ситуации повышенного потребления магния, такие как стресс, заболевания сердечно-сосудистой системы
							sup
								| 5
							| .

			.block.block2
				.block_title
					| Опасность дефицита магния возрастает у коморбидных пациентов
				.line2
					| Известно, что пациенты с сахарным диабетом 2-го типа часто страдают гипомагниемией. Ионы магния принимают непосредственное участие в предупреждении формирования метаболического синдрома
					sup
						| 6
					| .
				.line3
					.left
						img(src="./img/b7-1.png")
					| Тем не менее около 10–30% здоровых людей испытывают дефицит магния, при этом больше гипомагниемии подвержены дети, беременные и женщины пожилого возраста
					sup
						| 2
					| .
				.line4
					.title
						| ГЛАВНЫЙ ИСТОЧНИК Mg2+ В ОРГАНИЗМЕ – ПРОДУКТЫ ПИТАНИЯ3
						sup
							| 3
					.text
						| Примерно
						|
						b
							| от 30% до 40%
						|
						| потребляемого с пищей магния хорошо усваивается организмом в условиях здорового функционирования желудочно-кишечного тракта. Увеличение же содержания магния в пище не повышает его биодоступность
						sup
							| 3
						| .
						.divider
						b
							| Например, морские водоросли содержат до 1000 мг Mg на 100 г продукта, но биодоступность макроэлемента из них лишь 5%
							sup
								| 4
							| .
				.line5
					| Обеспечить необходимый суточный уровень магния в 420 мг взрослому человеку только продуктами питания крайне затруднительно
					sup
						| 5
					| .
