extends layout.pug

prepend body
  - var type = 'shortread_11'

block content

  section.main
    .container

      .organism
        h1.organism__title
          | Магний — макроэлемент, играющий большую роль в функционировании всего организма
          sup 1
        p.organism__description
          | <b>Магний</b> — макроэлемент, который определяет жизнедеятельность организма в целом, при этом более 99% общего количества Mg2+ в организме находится во внутриклеточном пространстве, а в крови и внеклеточных жидкостях присутствует всего <b><1%</b>
          sup 2
        .organism__content
          .organism__content-left
            p.organism__content-left-text
              | <b>Магний необходим</b> для синтеза нуклеиновых кислот и белков, а также участвует в процессе утилизации глюкозы и производстве аденозинтрифосфата, процессах формирования костей, обеспечении сердечной возбудимости и неврологических функций, мышечных сокращений и регуляции сосудистого тонуса.
              sup 3
          .organism__content-right
            .organism__content-right-flex
              img.organism__content-right-img(src="img/shortread_11/organism.png", alt="Магний")
              .organism__content-right-box
                p.organism__content-box-text
                  | Нормальный уровень магния в сыворотке
                img.organism__content-box-img(src="img/shortread_11/organism_box.svg", alt="Неравенство")
                p.organism__content-blue-text
                  | Нормальный уровень магния в организме

      .deficit
        h2.deficit__title
          | Распространённость дефицита магния
        .deficit__content
          .deficit__inner 
            .deficit__left
              img(src="img/shortread_11/deficit.png", alt="Врач")
            .deficit__right
              .deficit__item
                p.deficit__item-text
                  | По данным исследований, распространенность дефицита магния среди беременных может достигать
                p.deficit__item-percent
                  | 47,8%
              .deficit__item
                p.deficit__item-percent
                  | до 54,8%
                  sup 4
                p.deficit__item-text
                  | у женщин с гормонально-зависимыми заболеваниями
      
      .factors
        h2.factors__title
          | Факторы риска, связанные с дефицитом магния:
        p.factors__description
            | В когорте беременных при концентрации магния в сыворотке ниже уровня 0.66 ммоль/л обнаруживалась в связи с:
        ol.factors__list
          li.factors__item
            p.factors__item-text
              | Повышением систолического и диастолического артериального давления (р<0.0001 и p=0.0003 соответственно)
          li.factors__item
            p.factors__item-text
              | Наличием эндокринных нарушений (p=0.0002)
          li.factors__item
            p.factors__item-text
              | Наличием осложнённого течения предыдущих беременностей, из которых отеки (р<0.0001) являлись к тому же естественным фактором риска, который определяется при концентрации магния сыворотки и ниже 0.8 ммоль\л.
        .factors__content
          .factors__content-left
            .factors__content-inner
              .factors__content-title
                |  К ним относились:
                sup 3
              ul.factors__content-list
                li.factors__content-item
                  | Слабость
                li.factors__content-item
                  | Раздражительность
                li.factors__content-item
                  | Нарушение сна
                li.factors__content-item
                  | Тахикардия
                li.factors__content-item
                  | Остеопороз и др. (p<0.001)
            .factors__content-img 
              img(src="img/shortread_11/factors.png", alt="Беременная")
          .factors__content-right
            p.factors__content-right-text
              | У женщин с нарушениями гормонального обмена выявлено 38 симптомов и синдромов, связанных со снижением концентрации магния сыворотки ниже 0.8 ммоль/л.
        .factors__blue 
          p.factors__blue-text
            | Дефицит магния может негативно влиять на процессы зачатия и вынашивания ребёнка, и может быть связан с преэклампсией, повышением рисков развития пороков плода, судорогами ног и преждевременными родами.
            sup 3
      
      .reasons
        h2.reasons__title
          | Но каковы причины дефицита магния?
        p.reasons__description
          | Распространённые причины дефицита магния включают его недостаточное потребление с пищей или нарушенное всасывание в желудочно-кишечном тракте, потери через желудочно-кишечный тракт или почки, а также состояния, сопровождающиеся повышенной потребностью организма в магнии, такие как беременность и стресс.
          sup 5
        .reasons__content
          .reasons__left
            img(src="img/shortread_11/reasons.png", alt="Овощи и фрукты")
          .reasons__right
            p.reasons__right-text 
              | <b>Главные причины дефицита магния</b> — хроническое недостаточное потребление с пищей или повышенная потребность, например, во время беременности
              sup 6,7

      .cation
        h2.cation__title
          | Как выявить дефицит магния?
        p.cation__description
          | Тем не менее, несмотря на общепризнанное значение магния, уровень магния в организме обычно не определяется и не контролируется у пациентов, поэтому иногда магний называют «забытым катионом».8 Более того, уровень магния в сыворотке крови не всегда может отражать действительный уровень магния в организме.9 С целью объективизации постановки диагноза дефицита магния, существуют опросник: MDQ-23.
          sup 10
        .download
          .download__img
            img.desktop(src="img/shortread_10/download.png", alt="Скачать опросник")
            img.mobile(src="img/shortread_10/download-mobile.png", alt="Скачать опросник")
          .download__btn
            a.download__btn-link(href="https://docsfera.ru/direction/magne/tests/test-magne/")
              | Скачать
            p.download__btn-text.desktop
              | Нажмите кнопку или воспользуйтесь QR — кодом, <br> <b>чтобы скачать опросник MDQ-23</b>
            p.download__btn-text.mobail
              | <b>Скачайте опросник MDQ-23</b>

      .research
        h2.research__title
          | Дефицит Mg и преждевременные роды
        p.research__description
          | К настоящему времени исследования показали связь между недостаточностью магния и некоторыми состояниями во время беременности, такими как гестационный диабет, преждевременные роды, преэклампсия и задержка внутриутробного развития.3 У беременных потребность в магнии возрастает в 2–3 раза, что связано с ростом и развитием плода, увеличением общей массы крови, высоким уровнем эстрогенов, а также увеличением массы матки и ростом плаценты (матка и плацента относятся к органам с максимальной концентрацией магния). Хорошо известно, что плацента синтезирует более 150 белков и гормонов и 70% из них являются магнийзависимыми.
        h3.research__subtitle
          | Поэтому дефицит магния у беременных встречается чаще, чем в популяции в целом.
          sup 11
        p.research__description
          | Несколько исследований продемонстрировали значительно более низкие уровни магния в сыворотке крови у женщин с преждевременными родами (<37 недель) по сравнению с женщинами, родившими в срок. В одном исследовании изучалась связь магния в эритроцитах с преждевременными родами. В группу исследуемых (n = 105 случаев, n = 36 контрольных) вошли женщины, родившие преждевременно между 28 и 36 неделями неизвестной этиологии. Анализ магния в эритроцитах показал выраженную гипомагниемию в исследуемой группе по сравнению с контрольной группой (0,86 ммоль/л против 2,96 ммоль/л, P <0,01). Хотя снижение уровня магния в сыворотке также было очевидным, примечательно, что средний уровень магния в сыворотке в исследуемой группе все ещё находился в пределах нормы (0,93 ммоль/л против 1,12 ммоль/л, P <0,01).
          sup 3
        .research__group
          .research__group-left
            img(src="img/shortread_11/research_group-left.png", alt="Исследования")
          .research__group-right
            img(src="img/shortread_11/research_group-right.png", alt="Исследования")

      .sulfate
        h2.sulfate__title
          | Магний: каковы потребности организма?
        p.sulfate__description
          |  Физиологическая суточная потребность в магнии для беременных женщин составляет от 350 до 670 мг/сут.
          sup 12
        p.sulfate__text 
          |  Дефицит магния может спровоцировать тяжелую преэклампсию. Использование сульфата магния в качестве профилактического противосудорожного средства при тяжелой преэклампсии и её лечения явно улучшают здоровье матери, а также доказало свою эффективность в качестве защитного средства при преждевременных родах.
          sup 3
        .sulfate__block
          .sulfate__block-left
            img(src="img/shortread_11/sulfate_block-left.png", alt="Семья")
          .sulfate__block-right
            h3.sulfate__block-title
              | Профилактика гипомагниемии очень важна, так как депо магния расходуется до появления симптомов
              sup 7
            p.sulfate__block-text
              | Преждевременные роды являются основной причиной перинатальной смертности и заболеваемости, и в некоторых развитых странах заболеваемость растёт. Приём магния во время беременности представляет собой простую нетоксичную профилактическую меру, которая может снизить риск преждевременных родов.
              sup 3
            p.sulfate__block-text
              | С целью профилактики/лечения дефицита магния, предотвращения его негативного влияния, повышения стрессоустойчивости рекомендуется применение органических солей магния, обладающих наибольшей биодоступностью.
              sup 13

      .reatment
        h2.reatment__title
          | Лечение дефицита магния
        .reatment__block
          .reatment__block-inner
            img(src="img/shortread_11/reatment_block-top.png", alt="Рекомендации")
          .reatment__block-inner
            img(src="img/shortread_11/reatment_block-down.png", alt="Рекомендации")
        .reatment__text-block
          p.reatment__text
            | Соответствующие пропорции среди женщин с заболеваниями, связанными с гормонами, составили 78,4% (283 или 361 женщина) и 58,9% (452 из 767 женщин) соответственно.
            sup 3
          p.reatment__text
            | После 4-х недель приёма Магне В6® уровень магния в сыворотке нормализовался до уровня 0.80 ммоль/л или более у 73,8% беременных женщин.
            sup 10
